{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/materialize.css' )}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="content">
    <!--start container-->
    <div class="container">
        <div id="profile-page" class="section">

            <!--jqueryvalidation-->
            <div id="jqueryvalidation" class="section">
                <div class="row">
                    <div class="col m12">
                        <div class="card-panel">
                            <div class="row">
                                <form method="post" action="{{url_for('customer.settings')}}" class="">
                                    {{form.hidden_tag()}}
                                    <div class="row">
                                        <div class="input-field col s12 center">
                                            <h4>Change Password</h4>
                                            <p class="center">Will be set to the new password!</p>
                                        </div>
                                    </div>

                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            {{form.old_password(placeholder="Old Password")}}
                                            {%for error in form.old_password.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            {{form.new_password(placeholder="New Password")}}
                                            {%for error in form.new_password.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>

                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            {{form.new_password2(placeholder="Confirm New Password")}}
                                            {%for error in form.new_password2.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn cyan waves-effect waves-light right" type="submit">Submit
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                        <div class="input-field col s12">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->

{% endblock%}
