{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/materialize.css' )}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<section id="content">
    <!--start container-->
    <div class="container">
        <div id="profile-page" class="section">

            <!--jqueryvalidation-->
            <div id="jqueryvalidation" class="section">
                <div class="row">
                    <div class="col m12">
                        <div class="card-panel">
                            <h4 class="header2">Change Password</h4>
                            <div class="row">
                                <form method="post" action="{{url_for('customer.settings')}}" class="login-form">
                                    {{form.hidden_tag()}}
                                    <div class="row">
                                        <div class="input-field col s12 center">
                                            <h4>Password</h4>
                                            <p class="center">Will be set to the new Password!</p>
                                        </div>
                                    </div>

                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix pt-5">email</i>
                                            {{form.old_password(placeholder="Old Password")}}
                                            {%for error in form.old_password.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>
                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix pt-5">email</i>
                                            {{form.new_password(placeholder="New Password")}}
                                            {%for error in form.new_password.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>

                                    <div class="row margin">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix pt-5">email</i>
                                            {{form.new_password2(placeholder="Confirm New Password")}}
                                            {%for error in form.new_password2.errors%}
                                            <span>{{error}}</span>
                                            {%endfor%}
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s12">
                                            <button class="btn cyan waves-effect waves-light right" type="submit">Submit
                                                <i class="material-icons right">send</i>
                                            </button>
                                        </div>
                                        <div class="input-field col s12">

                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m12 l6">
                    </div>
                </div>
            </div>
            <!-- Floating Action Button -->
            <div class="fixed-action-btn" style="bottom: 50px; right: 19px;">
                <a class="btn-floating btn-large gradient-45deg-light-blue-cyan gradient-shadow">
                    <i class="material-icons">add</i>
                </a>
                <ul>
                    <li>
                        <a href="css-helpers.html" class="btn-floating blue">
                            <i class="material-icons">help_outline</i>
                        </a>
                    </li>
                    <li>
                        <a href="cards-extended.html" class="btn-floating green">
                            <i class="material-icons">widgets</i>
                        </a>
                    </li>
                    <li>
                        <a href="app-calendar.html" class="btn-floating amber">
                            <i class="material-icons">today</i>
                        </a>
                    </li>
                    <li>
                        <a href="app-email.html" class="btn-floating red">
                            <i class="material-icons">mail_outline</i>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- Floating Action Button -->
        </div>
    </div>
    </div>
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->

{% endblock%}
