{% extends 'layouts/auth_base.html' %}
{% block content %}

<div class="content">
  <div class="row">
    <div id="site-layout-example-top" class="col s12">
      <p class="flat-text-logo center white-text caption-uppercase">You need to confirm your account before continuing.</p>
    </div>
    <div id="site-layout-example-right" class="col s12 m12 l12">
      <div class="row center">
        <p class="center white-text">When you created an account, you should have received an email from us at {{ current_user.email }}
        with a link to confirm your email address.</p>
        <h1 class="center white-text">I didn't receive an email!</h1>
        <p class="center white-text">No problem! Just click the button below and we'll send you another one.</p>
        <a href="{{ url_for('account.confirm_request') }}" class="btn waves-effect waves-light" type="submit" name="action">Resend confirmation email
          <i class="material-icons right">send</i>
        </a>
        <a class="small button" ></a>
      </div>
    </div>
  </div>
</div>
{% endblock %}
