<!-- sidebar -->
<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="sidebar bg-white clearfix">
    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">search</h4>
      <form method="get" action="{{ url_for('home.listings') }}">
        <div class="search-inputs">
          <div class="form-block clearfix">
            <div class="input-style-1 b-50 color-3">
              <img
                src="{{ url_for('static', filename='home/img/loc_icon_small_grey.png') }}"
                alt=""
              />
              <input type="text" name="place" placeholder="Where to?" />
            </div>
          </div>
          <div class="form-block clearfix">
            <div class="input-style-1 b-50 color-3">
              <img
                src="{{ url_for('static', filename='home/img/calendar_icon_grey.png') }}"
                alt=""
              />
              <input
                type="text"
                name="date"
                placeholder="Check In"
                class="datepicker"
              />
            </div>
          </div>
        </div>
        <input
          type="submit"
          class="c-button b-40 bg-blue-2 hv-blue-2-o"
          value="search"
        />
      </form>
    </div>
    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">Offices in</h4>
      <form id="form-operator">
        {% for office in offices %}
        <div class="input-entry color-1">
          <input
            class="checkbox-form off-check"
            id="check-{{ office.id }}"
            type="checkbox"
            name="{{ office.country }}"
            value="{{ office.country }}"
          />
          <label class="clearfix" for="check-{{ office.id }}">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="checkbox-text">{{ office.country }}</span>
            <span class="fr">{{ office.get_count() }}</span>
          </label>
        </div>
        {% endfor %}
      </form>
    </div>
    <div class="sidebar-block">
      <h4 class="sidebar-title color-dark-2">star rating</h4>
      <div class="sidebar-rating">
        <div class="input-entry color-1">
          <input
            class="checkbox-form rating-check"
            id="star-5"
            type="checkbox"
            name="fifth"
            value="5"
          />
          <label class="clearfix" for="star-5">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>
        <div class="input-entry color-1">
          <input
            class="checkbox-form rating-check"
            id="star-4"
            type="checkbox"
            name="fourth"
            value="4"
          />
          <label class="clearfix" for="star-4">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>
        <div class="input-entry color-1">
          <input
            class="checkbox-form rating-check"
            id="star-3"
            type="checkbox"
            name="third"
            value="3"
          />
          <label class="clearfix" for="star-3">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>
        <div class="input-entry color-1">
          <input
            class="checkbox-form rating-check"
            id="star-2"
            type="checkbox"
            name="second"
            value="2"
          />
          <label class="clearfix" for="star-2">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>
        <div class="input-entry color-1">
          <input
            class="checkbox-form rating-check"
            id="star-1"
            type="checkbox"
            name="first"
            value="1"
          />
          <label class="clearfix" for="star-1">
            <span class="sp-check"><i class="fa fa-check"></i></span>
            <span class="rate">
              <span class="fa fa-star color-yellow"></span>
            </span>
          </label>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end sidebar -->
