{% extends 'home/home_base.html' %}


{% block home_content %}

    <div class="main-wraper padd-90 bg-white">
        <div class="container pt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h2>about us</h2>
                    </div>
                </div>
            </div>  	
            <div class="row">
                <div class="col-xs-12 col-sm-12 col-md-5">
                    <div class="simple-text">
                        <h3>Who We Are?</h3>
                        <p class="color-grey">Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque ac turpis egestas, varius justo et, condimentum augue.</p> 
    
                        <p class="color-grey">Pellentesque ac turpis egestas, varius justo et, condimentum augue. Praesent aliquam, nisl feugiat vehicula condimentum, justo tellus scelerisque metus. Pellentesque varius justo et, condimentum augue.</p>
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-4">
                    <div class="simple-text">
                        <h3>What We Do?</h3>
                        <div class="row">
                            <div class="col-mob-12 col-xs-6">
                                <ul class="color-grey dot-blue-2">
                                    <li>First Class Flights</li>
                                    <li>5 Star Accommodations</li>
                                    <li>Inclusive Packages</li>
                                    <li>Latest Model Vehicles</li>
                                    <li>Best Price Guarantee</li>								
                                </ul>
                            </div>
                            <div class="col-mob-12 col-xs-6">
                                <ul class="color-grey dot-blue-2">
                                    <li>World Class Service</li>
                                    <li>Handpicked Hotels</li>
                                    <li>Accesibility managment</li>
                                    <li>10 Languages available</li>
                                    <li>+120 Premium city tours</li>								
                                </ul>
                            </div>						
                        </div>
                    </div>
                </div>
                <div class="col-mob-12 col-xs-6 col-sm-5 col-sm-offset-1 col-md-3 col-md-offset-0">
                    <img class="img-responsive img-full" src="http://demo.nrgthemes.com/projects/travel/img/inner/about.jpg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- SLIDER-TWEET -->
    <div class="main-wraper padd-90">
        <img class="center-image" src="http://demo.nrgthemes.com/projects/travel/img/inner/bg_2.jpg" alt="">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h4 class="subtitle color-white underline">tweets</h4>
                        <h2 class="color-white">Our Latest Tweets</h2>
                    </div>
                </div>
            </div>
            <div class="arrows">
                <div class="swiper-container tweet-slider" data-autoplay="0" data-loop="1" data-speed="900" data-center="0" data-slides-per-view="1">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide active" data-val="0">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="slider-tweet">
                                            <div class="s-tweet-icon"><i class="fa fa-twitter"></i></div>
                                            <div class="s-tweet-title color-white">@Let’s travel</div>
                                               <p class="color-white-light">Lorem ipsum dolor sit amet, <a class="color-white link-blue" href="#"># consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  commodo consequat.</p>
                                               <div class="s-tweet-date color-white">About 16 days ago</div>
                                        </div>							
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide" data-val="1">
                            <div class="container">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                                        <div class="slider-tweet">
                                            <div class="s-tweet-icon"><i class="fa fa-twitter"></i></div>
                                            <div class="s-tweet-title color-white">@Let’s travel</div>
                                               <p class="color-white-light">Lorem ipsum dolor sit amet, <a class="color-white link-blue" href="#"># consectetur</a> adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  commodo consequat.</p>
                                               <div class="s-tweet-date color-white">About 16 days ago</div>
                                        </div>							
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    
                    <div class="pagination pagination-hidden poin-style-1"></div>
                    <div class="arrow-wrapp arr-s-7">
                        <div class="cont-1170">
                            <div class="swiper-arrow-left sw-arrow"><span class="fa fa-angle-left"></span></div>
                            <div class="swiper-arrow-right sw-arrow"><span class="fa fa-angle-right"></span></div>
                        </div>
                    </div>			
                </div>
            </div>			
        </div>
    </div>
    
    <!-- PARTNERS -->
    <!-- <div class="main-wraper padd-90">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h2>Our Investors</h2>
                    </div>
                </div>
            </div>
            <div class="investors-block">
                <div class="row no-margin">
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_1.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_2.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_3.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_4.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_5.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_6.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_7.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_8.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_9.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_10.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_11.png" alt=""></a>
                    </div>
                    <div class="col-mob-6 col-xs-4 col-sm-3 col-md-2 clear-mob-2 clear-xs-3 clear-sm-4 clear-md-6 no-padding">
                        <a class="investor-logo" href="#"><img class="img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/inner/investors_12.png" alt=""></a>
                    </div>
                </div>			
            </div>
        </div>
    </div> -->
    
    <!-- S_NEWS-ENTRY -->
    <!-- <div class="main-wraper bg-grey-2 padd-90">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h4 class="subtitle color-dr-blue-2 underline">news</h4>
                        <h2>latest news</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-4">
                    <div class="s_news-entry">
                        <img class="s_news-img img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/home_8/news_1.jpg" alt="">
                        <h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
                        <div class="tour-info-line clearfix">
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/calendar_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">03/07/2015</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/people_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">By Emma Stone</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/comment_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">10 comments</span>
                               </div>						
                        </div>
                        <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>	  	 	
                    </div>				
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="s_news-entry">
                        <img class="s_news-img img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/home_8/news_2.jpg" alt="">
                        <h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
                        <div class="tour-info-line clearfix">
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/calendar_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">03/07/2015</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/people_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">By Emma Stone</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/comment_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">10 comments</span>
                               </div>						
                        </div>
                        <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>	  	 	
                    </div>				
                </div>
                <div class="col-xs-12 col-sm-4">
                    <div class="s_news-entry">
                        <img class="s_news-img img-responsive" src="http://demo.nrgthemes.com/projects/travel/img/home_8/news_3.jpg" alt="">
                        <h4 class="s_news-title"><a href="#">Lorem ipsum dolor</a></h4>
                        <div class="tour-info-line clearfix">
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/calendar_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">03/07/2015</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/people_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">By Emma Stone</span>
                               </div>
                            <div class="tour-info fl">
                                   <img src="http://demo.nrgthemes.com/projects/travel/img/comment_icon_grey.png" alt="">
                                   <span class="font-style-2 color-dark-2">10 comments</span>
                               </div>						
                        </div>
                        <div class="s_news-text color-grey-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, commodo consequat.</div>	  	 	
                    </div>				
                </div>						
            </div>
        </div>
    </div>   -->
{% endblock home_content %}
    