<div class="col-xs-12 col-sm-4 col-md-3">
  <div class="sidebar bg-white clearfix">
    <div class="sidebar-block type-2">
      <h4 class="sidebar-title color-dr-blue-2">{{ country.name }}</h4>
      <ul class="sidebar-category color-5">
        <li class="{% if '/overview' in request.path %}active{% endif %}">
          <a href="{{ url_for('home.country_details', country_id=country.id) }}"
            >Overview</a
          >
        </li>
        <li
          class="{% if '/parks_and_reserves' in request.path %}active{% endif %}"
        >
          <a
            href="{{ url_for('home.country_parks_and_reserves', country_id=country.id) }}"
            >Parks and Reserves</a
          >
        </li>
          {% if '/parks_and_reserves' not in request.path %}
          <li>
              <a href="#wildlife">Wildlife</a>
          </li>
          <li>
              <a href="#climate">Climate</a>
          </li>
          <li>
              <a href="#best">Best Time To Visit</a>
          </li>
          {% endif %}
          <li>
            <a
              href="{{ url_for('home.listings', place=country.name) }}"
            >
              Safaris
            </a>
          </li>
          <li>
            <a
              href="{{ url_for('home.tour_operators_list', place=country.name) }}"
            >
              Tour Operators
            </a>
          </li>
      </ul>
    </div>
  </div>
</div>
