{% extends 'home/home_base.html' %}


{% block home_content %}

    <!-- listings -->
    <div class="list-wrapper bg-grey-2 py-5">
        <div class="container py-5">
            {% include 'home/_country_banner.html' %}

            <div class="row">
                <!-- sidebar -->
                {% include 'home/country_sidebar.html' %}
                <!-- end sidebar -->


                <div class="col-xs-12 col-sm-8 col-md-9">

                    {% for park in country.parks %}
                        <!-- list -->
                        <div id="listings" class="list-content clearfix">
                            <!-- list item -->
                            <a href="{{ url_for('home.park_details', park_id=park.id) }}`"></a>
                            <div class="list-item-entry">
                                <div class="hotel-item style-3 bg-white">
                                    <div class="table-view">
                                        <div class="radius-top cell-view">
                                            <img src="{{ url_for('static', filename='uploads/{}'.format(country.image_url)) }}" alt="">
                                        </div>
                                        <div class="title hotel-middle clearfix cell-view">
                                            <h3><b>{{ park.name }}</b></h3>
                                            <p><b>Climate: </b>{{ park.climate }}</p>
                                            <p><b>Best time to visit: </b>{{ park.best_time_to_visit }}</p> <br>
                                            <p>{{ park.description }}</p>
                                        </div>
                                        <div class="title hotel-right clearfix cell-view">
                                            <a class="c-button b-40 bg-blue hv-blue-o grid-hidden" href="#">view details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end list item -->
                    {% endfor %}

                    <div class="c_pagination clearfix padd-120">
                        <a href="#" class="c-button b-40 bg-blue-2 hv-blue-2-o fl">prev page</a>
                        <a href="#" class="c-button b-40 bg-blue-2 hv-blue-2-o fr">next page</a>
                        <ul class="cp_content color-1">
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">...</a></li>
                            <li><a href="#">10</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock home_content %}
