{% extends 'home/home_base.html' %} {% block home_content %}

<!-- listings -->
<div class="list-wrapper bg-grey-2 py-5">
  <div class="container py-5">
    <div class="row">
      <!-- sidebar -->
      {% include 'home/country_sidebar.html' %}
      <!-- end sidebar -->
      <div class="col-xs-12 col-sm-8 col-md-9">
        <div id="overview" class="mb-2 p-2 bg-white">
          <h4
            class="sidebar-title color-dr-blue-2"
            style="text-transform: capitalize;"
          >
            Overview
          </h4>
          {{ country.description |safe }}
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock home_content %}

{% block scripts %}
  <script>
    $(document).ready(function() {
       $("#wildlife").on('click', function(e) {
          e.preventDefault();
          if ($("strong:contains(Wildlife)").offset()) {
            $('html, body').animate({
               scrollTop: $("strong:contains(Wildlife)").offset().top-100
           }, 2000);
          }

      });

      $("#climate").on('click', function(e) {
         e.preventDefault();
         if ($("strong:contains(Wildlife)").offset()) {
           $('html, body').animate({
              scrollTop: $("strong:contains(Wildlife)").offset().top-100
          }, 2000);
         }

      });

      $("#best").on('click', function(e) {
          e.preventDefault();
          if ($("strong:contains(Best)").offset()) {
            $('html, body').animate({
               scrollTop: $("strong:contains(Best)").offset().top-100
           }, 2000);
          }

      });
    });
  </script>
{% endblock %}
