{% extends 'home/home_base.html' %}


{% block home_content %}

    <!-- listings -->
    <div class="list-wrapper bg-grey-2 py-5">
        <div class="container py-5">

            <div class="row">
                <!-- sidebar -->
                {% include 'home/country_sidebar.html' %}
                <!-- end sidebar -->


                <div class="col-xs-12 col-sm-8 col-md-9">

                    {% for park in country.parks %}
                        <!-- list -->
                        <div id="listings" class="list-content clearfix">
                            <!-- list item -->
                            <a href="{{ url_for('home.park_details', park_id=park.id) }}"></a>
                            <div class="list-item-entry">
                                <div class="hotel-item style-3 bg-white">
                                    <div class="table-view">
                                        <div class="radius-top cell-view">
                                            <img src="{{ url_for('static', filename='uploads/{}'.format(park.image_url)) }}" alt="" style="padding-left: 1em;">
                                        </div>
                                        <div class="title hotel-middle clearfix cell-view">
                                            <h3><b>{{ park.name }}</b></h3>
                                            {{ park.description |truncate(255, True)| safe }}
                                        </div>
                                        <div class="title hotel-right clearfix cell-view">
                                            <a class="c-button b-40 bg-blue hv-blue-o grid-hidden" href="{{ url_for('home.park_details', park_id=park.id) }}">view details</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end list item -->
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock home_content %}
