{% extends 'home/home_base.html' %}


{% block home_content %}
    <!-- listings -->
    <div class="list-wrapper bg-grey-2 py-5">
        <div class="container py-5">
            <div class="row">
                <div class="col-md-12">
                    <!-- list -->
                    <div class="list-content clearfix">
                        <!-- list item -->
                        {% for country in countries %}
                        <a href="{{ url_for('home.country_details',country_id=country.id) }}">
                            <div class="hotel-item style-3 bg-white py-3">
                                <div class="list-item-entry">
                                    <div class="col-md-3">
                                        <div class="thumbnail">
                                            <img src="{{ url_for('static', filename='home/flags/4x3/{}.svg'.format(country.get_country_code(country.name).lower())) }}" alt="{{ country.name }}">
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <h3>
                                            <b>{{ country.name }}</b>
                                        </h3>
                                        {{ country.description |truncate(255, True) |safe }} <br>
                                        <a class="c-button b-40 bg-blue hv-blue-o grid-hidden m-2" href="{{ url_for('home.country_details', country_id=country.id) }}">Read more</a>
                                    </div>
                                    <div class="col-md-3">
                                        <h5 class="mb-1">
                                            <b>{{ country.name }} parks and reserves</b>
                                        </h5>
                                        {% for park in country.parks.limit(4) %}
                                            <p><a href="{{ url_for('home.park_details', park_id=park.id) }}" class="color-aqua">{{ park.name }}</a></p>
                                        {% endfor %}
                                        <a class="c-button b-40 bg-blue hv-blue-o grid-hidden m-2" href="{{ url_for('home.country_parks_and_reserves', country_id=country.id) }}">view more</a>
                                    </div>
                                </div>
                            </div>
                        </a>

                        {%endfor%}
                    </div>
                    <!-- end list item -->
                </div>
            </div>
        </div>
    </div>
{% endblock home_content %}
