{% extends 'home/home_base.html' %}


{% block home_content %}

    <!-- listings -->
    <div class="list-wrapper bg-grey-2 py-5">
        <div class="container py-5">
          {% include 'home/_country_banner.html' %}

            <div class="row">
                <!-- sidebar -->
                {% include 'home/country_sidebar.html' %}
                <!-- end sidebar -->


                <div class="col-xs-12 col-sm-8 col-md-9">
                  <div id="listings2" class="list-content clearfix">
                      <!-- list item -->
                      <div class="list-item-entry">
                          <div class="hotel-item style-3 bg-white">
                              {% for park in country.parks %}
                                  {% for bird in park.birds %}
                                  <div class="col-md-3">
                                      <div class="title pb-2 text-center">
                                          <img src="{{ url_for('static', filename='uploads/{}'.format(bird.image_url)) }}" width="150px" alt="">
                                      </div>
                                  </div>
                                  {% endfor %}
                              {% endfor %}
                          </div>
                      </div>
                      <!-- end list item -->
                  </div>
                  <div id="listings" class="list-content clearfix">
                      <!-- list item -->
                      <div class="list-item-entry">
                          <div class="hotel-item style-3 bg-white simple-text">
                              <h4 class="color-dark-2 m-1">Top birds in {{ country.name }}n parks</h4>
                              {% for park in country.parks %}
                                  {% for bird in park.birds %}
                              <div class="col-md-6">
                                  <ul class="color-grey dot-blue-2">
                                      <li>{{ bird.name }}</li>
                                  </ul>
                              </div>
                              {% endfor %}
                          {% endfor %}
                          </div>
                      </div>
                      <!-- end list item -->
                  </div>
                    </div>


                </div>
            </div>
        </div>
    </div>
{% endblock home_content %}
