{% extends 'home/home_base.html' %}


{% block home_content %}
    <div class="main-wraper padd-90 bg-white">
        <div class="container pt-2">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2">
                    <div class="second-title">
                        <h2>Privacy Policy</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="simple-text">
                        <h3>1. Our Privacy Policy</h3>
                        <p>
                            Out2Safari Ltd operates the www.out2safari.com website, an online Safari Search, Booking and Reviews Platform
                            that helps Users find the best Destinations, Deals and Tour Operators in Africa. This is the Privacy Policy
                            for www.out2safari.com and associated apps. <br>
                            This Privacy policy explains how we (Out2safari Ltd) collect, use, share and transfer your personal data when
                            you use the services provided on www.out2safari.com (“our sites”) and our related mobile applications (“our apps”).
                            By using our services, you agree to the terms and conditions of this Privacy Policy and consent to our collection,
                            use and disclosure of your personal information in the manner set out in this policy. <br>
                            The terms used in this Privacy Policy have the same meaning as in Our Terms of Use, which is accessible at
                            www.out2safari.com, unless otherwise defined in this Privacy Policy. Before using our services, please read this
                            policy carefully. The following outlines our privacy policy.
                            <ul>
                              <li>The purpose for which we collect your personal information</li>
                              <li>
                                  We only collect and use the personal information solely to provide and improve the services we offer to you,
                                  unless we obtain the consent of the individual concerned or as required by law
                              </li>
                              <li>We keep personal information as long as necessary for the fulfillment of those purposes</li>
                              <li>We will only collect your personal information within the confines of the law, where appropriate, and with your knowledge and consent.</li>
                              <li>We only collect Personal data relevant to the purposes stated in this policy, and, to the extent necessary for those purposes.</li>
                              <li>We apply reasonable security safeguards against loss or theft, as well as unauthorized access, disclosure,
                                  copying, use or modification of the personal information that we collect.
                              </li>
                              <li>Our policies and practices relating to the management of personal information are readily available to our customers and the general public.</li>
                            </ul>
                            We are committed to conducting our business in accordance with the principles of this policy in order to ensure
                            that the confidentiality of personal information is protected and maintained.
                        </p>
                        <h3>2. Information that we collect</h3>
                        <h5>a) Personal Information</h5>
                        <p>
                            These Include:
                            <ul>
                                <li>Your Name</li>
                                <li>Your enail address</li>
                                <li>Data from your social media profile if you sign in to out2safari.com using your social media details</li>
                                <li>Your photograph, if you add one to your profile page.</li>
                            </ul>
                            In order to use our services, you must provide to us your Personal information. The provision of this information is
                            voluntary and you can elect not to provide the same. However, to fully optimize on our services, some information about
                            you is required.
                        </p>
                        <h5>b) Third Party Information</h5>
                        <p>
                            In some instances, you may provide contact and travel-related information for other people through our platform. When
                            making group reservations through www.out2safari.com for example, you have to submit the group’s personal information.
                            You must obtain the consent of other individuals prior to providing us with their personal information, as any access
                            to view or modify their information will be available through your account.
                        </p>
                        <h5>c) Personal data we receive about you from other organizations</h5>
                        <p>
                            There are instances we could obtain personal and other information about you from other entities, business partners and
                            other independent third-party sources and add it to other information about you.
                        </p>
                        <h5>d) Automatic Information</h5>
                        <p>
                          We automatically collect some information from your computer or Device when you visit www.out2safari.com this include,
                          IP address, web browser software, referring website, content viewed, pages visited, and searches and/or reservations facilitated or made.
                          We collect this automatic information in order for us to better understand the interests and preferences of our users
                          and customize your user experience.
                        </p>
                        <h5>e) Payment Information</h5>
                        <p>
                            When you make reservations with Tour Operators through www.out2safari.com you provide us with your credit or debit
                            card number, card expiration date, CVV code and billing address. This information is securely passed on to the Tour
                            Operators or other suppliers to complete the transaction. It is the Tour Operator who processes your payment and not
                            Out2safari Ltd. Please read and understand the supplier’s policies and procedures before making a reservation through
                            Out2safari Ltd.
                        </p>
                        <h3>Location Information and Other Information from Devices</h3>
                        <p>
                            When you use an Application or a Device to access our services, we will collect and use information about you in generally
                            similar ways and for similar purposes as when you use the Out2safari website. In addition, we may collect information about
                            your location if you have enabled your Device to send such information to the Application via the privacy settings on that
                            Device, or if you have uploaded photos tagged with location information. We may use the location information collected from
                            your Device or photos to enhance your use of the Application by providing you with relevant content and contextual advertising.
                        </p>
                        <h3>Cookies and Other Web Technologies</h3>
                        <p>
                            When you visit our sites or when you use our apps, we may collect personal data from you automatically using cookies or similar
                            technology. Cookies are small data text files and can be stored on your computer’s hard drive or your device that allows us to
                            recognize and remember you. Out2safari Ltd, its affiliated websites, and Apps use cookies in order to serve you better.
                        </p>
                        <h3>Responses to Do Not Track signals</h3>
                        <p>
                            Your web browser may transmit a “Do Not Track” (“DNT”) signal to Out2safari.com and other websites. Please be informed that
                            Out2safari does not currently respond to DNT signals.
                        </p>
                        <h3>3. How We Use Your Information</h3>
                        <p>
                            Out2safari uses the information we collect about you for the following general purposes:
                            <ul>
                              <li>For registration and to enable us manage your account, including access and use of our site</li>
                              <li>To facilitate your booking of safari reservations</li>
                              <li>Marketing</li>
                              <li>To personalize our services to you (for example, so you can sign in), remembering your settings, personalized advertising etc</li>
                              <li>To enable us publish your reviews, forum posts and other content from the Out2safari community</li>
                              <li>To enable us carry out market analysis in order to serve you better</li>
                              <li>To notify you about special offers and products or services available from us or our partners that may be of interest you.</li>
                              <li>To improve our marketing and communication</li>
                              <li>To sale advertising space on our sites</li>
                              <li>Performance analysis of our sites and apps by measuring interest in and improving our products, services, and website.</li>
                              <li>To customize your experience with out2safari, including customizing the ads shown to you.</li>
                              <li>To solicit information from you, including through surveys</li>
                              <li>Security and fraud prevention</li>
                              <li>To comply with applicable laws and regulations</li>
                              <li>To enforce our terms of use</li>
                              <li>If you have signed up as a safari provider we will send you email messages at the email address you provide to us.</li>
                            </ul>
                        </p>
                        <h3>4. Who We Share Your Information With</h3>
                        <p>
                            In order to effectively serve you and improve your User experience, Out2safari may share your information with the following entities:
                            <ul>
                              <li>
                                Suppliers, including but not limited to Tour Operators who fulfill your safari travel reservations. Throughout the Out2safari site,
                                all products and services provided by third-party suppliers are described as such.
                              </li>
                              <li>
                                Organizations that provide services or functions on our behalf such as business analytics, payment processing, customer service,
                                marketing, public relations, distribution of surveys, and fraud prevention.
                              </li>
                              <li>
                                Business Partners with whom we may offer products or services in conjunction with. If you choose to access these optional services,
                                we may share information about you, including your personal information, with those partners. Please note that we do not control
                                the privacy practices of these third-party business partners.
                              </li>
                              <li>
                                Referring websites. If you were referred to Out2safari.com from another website, we may share your registration information, such as
                                your name, email address, mailing address, telephone number and travel preferences, about you, with that referring website. Please
                                review the privacy policies of any website that referred you to Out2safari.com
                              </li>
                              <li>
                                Social media services. You can choose to access certain third party social media websites and services through our site (such as Facebook).
                                When you do so, you are sharing information with those sites, and the information you share will be governed by their privacy policies.
                              </li>
                              <li>
                                Law enforcement agencies, court, regulator, government authority or other organization if we are required to do so to meet a legal
                                or regulatory obligation
                              </li>
                              <li>
                                Advertising partners and investors. We may share aggregate or anonymous information with third parties like advertisers and investors.
                                For example we may tell our advertisers the number of visitors our website receives or the most popular parks and destinations.
                              </li>
                              <li>
                                In connection with a corporate transaction, such as a divestiture, merger, consolidation, or asset sale, or in the unlikely event of
                                bankruptcy. If this happens, we will use reasonable efforts to try to make sure that the organizations your personal information is
                                transferred to uses it in line with Our Privacy Policy.
                              </li>
                            </ul>
                        </p>
                        <h3>5. Accessing Your Information.</h3>
                        <p>
                            Your choices with respect to the collection and use of your information include;
                            <ul>
                              <li>
                                Electing not to provide us with your personal information in which case you may not be able to take, take advantage of certain
                                features offered on Out2safari.com
                              </li>
                              <li>
                                Closing your account with us. If you decide to close your Out2safari.com account, we will deactivate your account and remove
                                your profile information from active view. Please note, however, we may retain in our files some information associated with
                                your account and past transactions for purposes including backups, Fraud prevention, dispute resolution, investigations, and
                                compliance with legal requirements.
                              </li>
                              <li>
                                As a registered Out2safari.com member, you can modify your email subscription choices any time on the member profile page.
                                Whether registered as Out2safari.com member or not, you also will be given an opportunity to unsubscribe from promotional
                                messages in any such email we send. Please note that we reserve the right to send you other communications, including service
                                announcements, administrative messages, and services relating either to your Out2safari.com account, without offering you the
                                opportunity to opt out of receiving them.
                              </li>
                              <li>
                                Email Communications. Out2safari.com wants to make it easy for you to take advantage of travel related opportunities on our website.
                                One way to do this is by sending you email messages that contain information about your apparent travel-related interests. Please note
                                that you will have an opportunity to choose not to receive these email messages in any such email we send.
                              </li>
                              <li>
                                The Help portion of the toolbar on most browsers will tell you how to prevent your browser from accepting new cookies, how to have
                                the browser notify you when you receive a new cookie, or how to disable cookies altogether. Please note that if you refuse to accept
                                cookies from Out2safari.com, you will not be able to access portions of our site.
                              </li>
                            </ul>
                        </p>
                        <h3>6. How we protect Your Information</h3>
                        <p>
                          Information submitted by you is stored on secure servers we which are encrypted and whose access is restricted to only authorized persons
                          in charge of maintaining the servers. Out2safari Ltd has implemented appropriate administrative, technical and physical security procedures
                          to help protect the personal information you provide to us. In addition, we use encryption when transmitting your personal information
                          between your system and ours, and between our system and those of the parties with whom we share sensitive information, and we employ
                          firewalls and intrusion detection systems to help prevent unauthorized persons from gaining access to your information. However we cannot
                          guarantee 100% security as no internet security programme is completely fool proof.
                        </p>
                        <h3>7. Children’s Privacy</h3>
                        <p>
                          You are not allowed the use of www.out2safari.com  services if you are under the age of 13. Should an individual whom we know to be a child
                          under age 13 send personal information to us, we will delete or destroy such information as soon as reasonably possible. You must also
                          be old enough to consent to the processing of your personal data in your country.
                        </p>
                        <h3>8. Third Party Links</h3>
                        <p>
                          You may find links to third party websites on our site. These websites have their privacy policy, which you agree to when you link to the site.
                          Please examine the privacy statements posted on those other websites to understand their procedures for collecting, using, and disclosing
                          personal information.
                        </p>
                        <h3>9. Changes to This Privacy Policy</h3>
                        <p>
                          Out2safari Ltd may change or modify this privacy policy from time to time. We will note the date that revisions were last made to this Privacy
                          Policy by either sending a notice to the email address you provided to us or by placing a notice on our website. The most current version of
                          the policy will govern our processing of your personal data and will always be at www.out2safari.com
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock home_content %}
