{% extends 'home/home_base.html' %}


{% block header %}{% endblock header %}
{% block home_content %}

<img class="center-image" src="{{ url_for('static', filename='home/img/tour_grid_15.jpg') }}" alt="">
	
<div class="container">
	<div class="login-fullpage">                                                                            
		<div class="row">
			<div class="login-logo">
				<img class="center-image" src="{{ url_for('static', filename='home/img/tour_grid_8.jpg') }}" alt="">
			</div>
			<div class="col-xs-12 col-sm-7">
				<div class="f-login-content">
					<div class="f-login-header">
						<div class="f-login-title color-dr-blue-2">Change Password</div>
						<div class="f-login-desc color-grey">Please login to your account</div>
					</div>
					<form action="{{url_for('account.reset_password', token=token)}}" class="f-login-form" method="POST">
						{{form.hidden_tag()}}
						<div class="input-style-1 b-50 type-2 color-5">
							{{form.email(placeholder="Email")}}
							{%for error in form.email.errors%}
								<span>{{error}}</span>
							{%endfor%}
						</div>
                        <div class="input-style-1 b-50 type-2 color-5">
							{{form.new_password(placeholder="New Password")}}
							{%for error in form.new_password.errors%}
								<span>{{error}}</span>
							{%endfor%}
						</div>
                        <div class="input-style-1 b-50 type-2 color-5">
							{{form.new_password2(placeholder="Confirm New Password")}}
							{%for error in form.new_password2.errors%}
								<span>{{error}}</span>
							{%endfor%}
						</div>
						<div class="input-style-1 b-50 type-2 color-5">

						</div>
						<div class="checkbox-group">
							<div>
								<p>Don't an account? <a href="{{url_for('account.register')}}" class="color-dr-blue-2">Register now.</a></p>
							</div>
						</div>
							
						{{form.submit(class="login-btn c-button full b-60 bg-dr-blue-2 hv-dr-blue-2-o")}}

						<div class="row">
							<div class="col-xs-12 col-sm-6">
								<a href="#" class="c-button full b-60 bg-blue-7 hv-blue-7-o"><i class="fa fa-facebook"></i><span>login via facebook</span></a>
							</div>
							<div class="col-xs-12 col-sm-6">	
								<a href="#" class="c-button full b-60 bg-blue-8 hv-blue-8-o"><i class="fa fa-twitter"></i><span>login via facebook</span></a>	
							</div>
						</div>
					</form>
				</div>				
			</div>
		</div>
	</div>
</div> 	
{% endblock home_content %}

{% block footer %}{% endblock footer %}
	