{% extends 'home/home_base.html' %}


{% block home_content %}
<div class="main-wraper padd-90 bg-white">
  <div class="container pt-2">
    <div class="row">
      <div class="col-xs-12 col-sm-8 col-sm-offset-2">
        <div class="second-title">
          <h2>Terms of Use For Tour Operators</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="simple-text">
          <h3>Introduction</h3>
          <p>
            Out2safari Limited, a company duly incorporated in accordance with the companies Act, Cap 168 of the laws of
            Kenya, (‘’the company’’) has developed the out2safari mobile application (‘’the App’’) and the website
            www.out2safari.com (‘’the website’’) collectively reffered to as the (‘’Site’’). The Site, its pages, the
            content and infrastructure of these pages and the online reservation service (including the facilitation of
            payment service) provided by Us on these pages and through the website, are owned, operated and provided by
            Out2safari Ltd. The out2safari Site is an online Search, Comparison, Booking and Reviews Platform to help
            Users find the best Destinations, Deals and Tour Operators for their Safari adventure.
            These terms and conditions (‘’Terms and Conditions’’) govern your (‘’Tour Operator’’) use of the App and the
            website (collectively reffered to as the ‘’Site’’). By accessing and using the domain and sub-domains of the
            Site, the Tour Operator agrees to be bound by these Terms and Conditions, as may be amended from time to
            time.
            If you do not agree with any part of these Terms and Conditions, you must not use the site. Please read,
            agree with, and accept all the terms and conditions contained in this ‘’Terms and Conditions’’ and the
            ‘’Privacy Policy’’, which include this terms and conditions as expressely set out below and those
            incorporated by reference, before you use the site.
            These Terms and Conditions, entail apermission and its terms to use the Site. On the Site, you can list and
            advertise your safari packages to Out2safari Users for free.
          </p>
          <h3>Definitions</h3>
          <p>
            In These Terms and Conditions, the following terms will have the following meaning. <br>
            <strong>Account:</strong>
            The personal, secure environment of the Tour Operator, accessible through the Site after entering Login
            Details, which can be published/unpublished by the Tour Operator and through which environment the Tour
            Operator can make available its Safari packages to Users. <br>
            <strong>Agreement:</strong>
            The agreement between the Tour Operator and Out2safari, on the basis of which the Tour Operator can use the
            online marketplace and to which these Terms and Conditions apply. <br>
            <strong>Content:</strong>
            All information made available by a Tour Operator on the platform, including its Account, Safari Packages,
            business details, comments, look and feel and other information.
            <strong>IP Rights:</strong>
            All intellectual property rights and associated rights, including copy rights, trade mark rights, patent
            rights, design rights, trade name rights, database rights, and neighbouring rights, as well as rights
            knowhow. <br>
            <strong>Login Details:</strong>
            In combination of the User name and password generated when entering into the agrement, through with which
            the Tour Operator can access its Account. <br>
            <strong>Reservation</strong>
            The binding agreement between a Tour Operator and a User regarding the purchase of one or more Safari
            package(s), which comes into effect after the acceptance of a Safari package by a User, subject to the Tour
            Operators Terms and Conditions. <br>
            <strong>Party/Parties</strong>
            The Tour Operator and/or Out2safari Ltd <br>
            <strong>Site</strong>
            Out2safari Site, where the Tour Operator can create an Account and make available its Safari Packages to
            Users, whereupon Users can make Reservations with regard to specific Safari Packages. <br>
            <strong>Privacy Policy</strong>
            The privacy policy of Out2safari Ltd that can be accessed through the Site <br>
            <strong>Out2safari</strong>
            The Private Limited Liability company incorporated under the laws of Kenya, having its statutory seat at
            Nairobi and its offices in Nairobi Kenya. <br>
            <strong>Terms and Conditions</strong>
            These Terms and Conditions of Out2safari <br>
            <strong>User</strong>
            The individual that makes use of the Site and is able to, among other things, view the Tour Operator’s
            Safari packages and make reservations. <br>
            <strong>Tour Operator</strong>
            The professional provider of the safari product as from time to time available for reservation on the Site.
            <br>
            <strong>Safari Package</strong>
            A specific safari trip published on the Site as an offer, which safari trip can be bought by aUser by making
            a reservation.
          </p>
          <h3>General</h3>
          <p>
            These Terms and Conditions apply to the Tour Operator’s use of the Site, all legal acts of Out2safari, and
            all of Out2safaris (other) offers and agreements. These Terms and conditions are not subject to any other
            conditions including those of Tour Operators. These Terms and Conditions will be amended from time to time
            as circumstances may dictate.
            The amended or supplemented Terms and Conditions will be brought to the Operator’s attention in the course
            of using the site. By continuing to use the site, the Operator accepts the amended Terms and Conditions. If
            you do not agree to the amended Terms and Conditions, you can terminate the Agreement and your Account.
          </p>
          <h3>Translation of The Terms and Conditions</h3>
          <p>
            Out2safari may provide a translation of the English version of these Terms and Conditions into other
            languages. You understand and agree that any translation of these Terms and Conditions into other languages
            is only for your convenience and that the English version shall govern these Terms and Conditions and shall
            govern your relationship with Out2safari. Furthermore, if there are any inconsistencies between the English
            version and its translated version, the English version of these Terms shall prevail over others.
          </p>
          <h3>Scope and Nature of our Services</h3>
          <p>
            The Site is an online Search, Comparison, Booking and Reviews Platform to help Users find the best
            Destinations, Deals and Tour Operators for their Safari adventure. Through the platform, Tour Operators
            advertise, market, sale, promote and/or offer, their safari packages and destinations for inquiry, booking
            and or reservation and through which Users of the site can discover, search, compare, inquire about, and
            make a reservation or payment (the Safari service). By using or utilizing the Safari service through the
            Site, you enter into a direct (legally binding) contractual relationship with Out2safari.
            Please note that, Out2safari acts solely as an intermediary between the Tour Operator and the User(s),
            making available details of your Safari packages to Users who make independent decisions and providing a
            communication platform between Tour Operators and Users. Out2safari does not offer or re(sale) any safari
            product or service.
          </p>
          <h3>Eligibility to Use The Services</h3>
          <p>
            You hereby represent and warrant that you are legally registered and licenced to provide Tour Operator
            services in the jurisdiction within which you operate, and you are fully able and competent to understand
            and agree to the terms, conditions, obligations, representations, and warranties set forth in these Terms
            and Conditions.
            You are responsible for complying with all laws and regulations in the country in which you operate when you
            access and use the services. You agree to use the services only in compliance with these Terms and
            Conditions, and applicable law in a manner that does not violate our legal rights or those of any third
            party(ies).
          </p>
          <h3>Tour Operators Account</h3>
          <p>
            To use the Site, you must register with Us upon which you are granted the use of aprivate account specific
            to you. To enter into an agreement, the Tour Operator shall follow Out2safari registration process. The Tour
            Operator must provide all information requested for an account to be created on its behalf.
            The Tour Operator warrants that all information provided on registration is up to date, correct and
            complete. Subsequently, the Tour Operator may access the Site through a secure login which requires the Tour
            Operator to provide its email address and password which shall be for the sole use of such Tour Operator
            The Tour Operator is responsible for maintaining the confidentiality of any login credentials associated
            with the Tour Operators account on the Site. If a Tour Operator has reason to suspect that its login
            credentials have been compromised, the Tour Operator must inform Out2safari immediately and without
            prejudice to its own obligations to immediately take the neccesary action, such as changing its login
            credentials
            The Tour Operator accepts that Out2safari cannot be held liable should any third party gain access thereof
            through the conduct, negligence or otherwise of the Tour Operator.
          </p>
          <h3>Privacy</h3>
          <p>
            By creating its account and by using the site, The Tour Operator may provide personal and company data to
            Out2safari. Out2safari shall process such data in accordance with all legal obligations regarding the
            processing of personal data. Out2safari only uses your personal data in accordance with our privacy policy.
            Our Privacy Policy details how we handle such information in order to protect your personal and company
            privacy. Please read and agree to this privacy policy before continuing with the use of the Site.
            In using the site, the Tour Operator may receive personal data of Users. The processing of such personal
            data of Users is the sole responsibility of the Tour Operator. The Tour Operator warrants that it shall at
            all times comply with the laws and regulations regarding the processing of personal data. The Tour Operator
            indemnifies Out2safari from all claims of Users and/or third parties which are in any way related to the
            processing of personal data by the Tour Operator.
          </p>
          <h3>Use of Site</h3>
          <p>
            Out2safari will grant the Tour Operator a limited, personal, revocable, non-exclusive, non-sublicensable and
            non-transferable right to use the site, once the Tour Operator complies and agrees with the provisions of
            this Terms and Conditions.
            The Tour Operator accepts that the site, only contains the functionalities and the characteristics as it
            contains at the moment of the Tour Operators use (‘’as is’’ and ‘’as available’’). Tour Operators accept
            that the use of the site is for its own risks and responsibility.
            The Tour Operator is solely responsible and liable for content and the handling, storage and processing of
            personal data provided by Users during the booking process.
            Out2safari may at any time impose quality standards to be adhered to by Tour Operators in their use of the
            site and may at its sole discretion (temporarily) block the Tour OPerators account if the said standards are
            not met.
            The Tour Operator is not entitled to ; (i)Use the site illegally or in violation of these Terms and
            Conditions, (ii) Violate any third-party rights, including but not limited to IP rights that relate to
            protection of privacy, right of publicity, trademarks, patent, trade secrets or any other intellectual
            property or proprietary rights, (iii) Decompile, reverse engineer, disassemble the site or otherwise attempt
            to derive source codes from the services, (iv) Make content available that harms the interests and
            reputation of Out2safari, (v) Assert or imply that your content is in any way sponsored or endorsed by
            Out2safari, (vi) Interfere with, disrupt, or destroy the functionality or use of any features of the
            services or the servers or networks connected to the services, (vii) Engage third parties to perform any of
            the above mentioned acts, and (vii) Deliberately involve false or misleading information.
            You acknowledge that we have no obligation to monitor your – or anyone else’s – access to or use of the
            services for violation of these Terms and Conditions or to review or edit any content. However, we have the
            right to do so for the purpose of operating and improving the services (including without limitation for
            fraud prevention, risk assessment, investigation and customer support services), to ensure your compliance
            with the Terms and Conditions, and to comply with applicable law or the order or requirement of legal
            process, a court of law, consent decree, administrative agency or any other government body.
            Tour Operators must provide the safari package to Users exactly as published on the site by themselves. If
            aUsers experience materially and objectively differed in a negative sense (to be assesed by Out2safari) from
            the package advertized by the Tour Operator, the Tour Operator shall refund the total amount paid by the
            User for the reservation. In addition, Out2safari shall be entitled to suspend and delete the Tour
            Operator’s account or impose additional requirements for subsequent safari packages.
            Out2safari reserves the right to modify, refuse or delete content, in particular in (but not limited to) the
            event such content is deemed unlawful or violates any third party rights, these Terms and Conditions or
            legislation or does not meet Out2safari (quality) standards.
            If the Tour Operator is of the opinion that certain content offered by another Tour Operator, or that is
            otherwise available on the site infringes its rights and/or the rights of a third party, the Tour Operator
            shall notify Out2safari for appropriate action to be taken.
          </p>
          <h3>Safari Packages and Reservations.</h3>
          <p>
            The Tour Operator acknowledges and accepts that the Safari packages are automatically processed by
            Out2safari and the Tour Operator herself is solely responsible for (the repair of) any inaccuracies and/or
            inconsistencies in the safari packages displayed on the site. The Tour Operator is fully liable for all
            claims from Users/or third parties related to (reservations made due to) an incorrect safari package and
            shall indemnify Out2safari from all claims in this respect.
            The Tour Operator is not entitled to quote higher prices on the Site than prices listed on its own website
            for the same safari packages.
            The Tour Operator is not entitled to apply its own (booking) terms and conditions to a Reservation. However,
            the contents of these Terms and Conditions, as well as the application and enforcement thereof are the sole
            responsibility of the Tour Operator. Incase of a conflict between any provisions of these Terms and
            Conditions and the Tour Operator’s terms and conditions, these Terms and Conditions shall prevail.
            For reservations made through this Site, Out2safari is responsible only for forwarding the relevant
            reservation information as provided by the User, and for sending a confirmation (email) to the User. The
            Tour Operator acknowledges and accepts that areservation of the User constitutes a binding agreement between
            the Tour Operator and the User. The Tour Operator is fully responsible for the implementation and execution
            of such agreement. The Tour Operator is not permitted to share its contact details with the User. Out2safari
            shall never become a party to an agreement between the Tour Operator and the User.
            Through this Site, Out2safari provides support to both Tour Operators as well as to Users. However
            Out2safari is not responsible for providing support services to any User regarding areservation. If the Tour
            Operator’s support services to Users do not meet Out2safari quality standards, Out2safari is entitled to
            (temporarily) block or remove the Tour Operator’s account.
            If aUser cancels a reservation in accordance with the Tour Operators terms and conditions, the Tour Operator
            shall notify Out2safari of such cancellation as soon as possible. If the Tour Operator fully reimburses the
            User for a Reservation, the commision fee shall also be re-imbursed by Out2safari. If the Tour company does
            not fully refund the amount paid by the Guest for the Reservation, Out2safari shall be entitled to retain
            the commision fee.
            If a Reservation has been cancelled and the User has paid through the Site, the Tour Operator shall also
            process the refund through the Site. Out2safari shall not be responsible or liable incase the Tour Operator
            decides to process this refund directly to the User. The Tour Operator shall be liable for any loss of
            Out2safari in the event the Tour Operator acts contrary to the provisions of this paragraph.
            If the Tour Operator cancels aUsers Reservation due to a cause attributable to the Tour Operator, the Tour
            Operator shall compensate the User for all the costs and damages incured in relation to the Reservation. The
            Tour Operator is never entitled to deviate from its statutory obligations regarding liability, resulting
            from its non-performance of the agreement with the User.
            If the Tour Operator fails to deliver the Safari package as described on the site, the Tour Operator shall
            offer the User atleast a (partial) refund.
          </p>
          <h3>Off Site Bookings and Monitoring of Communication</h3>
          <p>
            You accept that taking bookings off the Site to complete it somewhere else will lead to termination of the
            account for the Tour Operator who proposes this and for the User who communicates agreement to the proposal.
            If a Tour Operator proposes that aUser books their safari on another website or by another means, the User
            is requested to inform Out2safari immediately. Communication between Tour Operators and Users is monitored
            by Out2safari at all times. We run software on the messaging system that detects attempts to take bookings
            off the Site. You agree that any Tour Operator(s) who take booking off-Site shall be sued for damages in a
            court of law.
          </p>
          <h3>Payment</h3>
          <p>
            The Use of the Site by the Tour Operator is free. The Tour Operator is only charged a commision for
            successful reservation through the Site. When making a Reservation, the User shall be required to pay a
            deposit, which is a percentage of the total amount of the value of the Reservation and in line with the Tour
            Operators policy.
            Out2safari shall reserve a commision fee for its services, which shall be a percentage of the total price
            due for a specific Reservation by Users. The commision fee will apply if the first point of contact between
            the User and the Tour Operator is through the Site. The applicable commision percentage shall at all times
            be indicated to the Tour Operator before the Tour Operator publishes a Safari Package on the Site.
            Out2safari shall be entitled to adjust the applicable commision percentage, which it shall at all times be
            indicated to the Tour Operator in advance. The Tour Operator shall be entitled to remove its Safari packages
            and/or its Account if it does not agree with such adjusted commision. Upon payment of a Reservation through
            the site by a User, Out2Safari shall deduct the commision fee from this amount and transfer the balance to
            the Tour Operator.
            If (part of) the commision fee due to Out2safari is paid directly to the Tour Operator, Out2safari reserves
            the right to withold the amount due and payable from future User payments the Tour Operator has through
            Out2safari.
            Transfer of funds paid by Users to the Tour Operator’s bank account may attract transaction costs.
            Out2safari shall be entitled to charge such costs to the Tour Operator. Out2safari cannot be held to make
            available alternative payment methods on the Site. Since Out2safari is entitled to change payment methods
            available on the Site, the Tour Operator cannot derive any rights from the methods available at a certain
            moment.
            Out2safari solely enables aUser to make payments for a reservation through this Site. The actual payment is
            carried out by a third party over whom Out2safari has no influence or control. Out2safari is not involved
            in, and is not liable for the payment of Reservation by a User to the Tour Operator. If and to the extent a
            User fails to make payment for a reservation (in full), resolving such issue shall be the sole
            responsibility of the Tour Operator and the User – Out2safari shall not become a party to such dispute.
          </p>
          <h3>User Reviews</h3>
          <p>
            User Reviews may be uploaded onto the relevant Tour Operator’s information page on the Site for the sole
            purpose of informing other Users of the reviewers opinion of the safari experience and quality of service
            provided by the Tour Operator. Please note that User reviews do not reflect the opinion of Out2safari. Each
            and every review posted on the Site is the personal opinion of the User/reviewer only. Out2safari is a
            neutral platform, which solely provides a means of communication between Users/reviewers and Tour
            Operators/representatives with access to the Tour Operators business page. However, incase a User writes a
            review that is not true about the safari experience and the Tour Operators quality of service, the best
            option is for the Tour Operator to contact the reviewer or post a public response in order to clear up any
            misunderstandings. If the Tour Operator believes that any particular User’s review violates Out2safari
            policy, the Tour Operator should flag out the review to our attention. Out2safari may remove the review in
            our sole discretion if the review is in violation of the Terms, or content guidelines and policies or
            otherwise harmful to the services.
            Some User Reviews may be used by Out2safari at its sole discretion (for marketing, promotion or improvement
            of our service) on the Site or such social media platforms, newsletters, special promotions, apps or other
            channels owned, hosted, used or controlled by Out2safari and our business partners. Out2safri reserves the
            right to adjust, refuse or remove reviews at our sole discretion.
          </p>
          <h3>IP Rights</h3>
          <p>
            No transfer of IP Rights is constituted by these Terms and Conditions. The Tour Operator is solely granted a
            permision as described in article 3.1. The IP rights with regard to the site and all materials, look and,
            feel and other texts images, videos and information made available thereon, including, the website but
            excluding the content, and held by Out2safari as its licensee.
            All IP rights in relation to the content will remain vested in the Tour Operator. The Tour Operator
            acknowledges and accepts that by making the content available, it automatically and free of charge grants
            Out2safari an unlimited, worldwide, non-exclusive, sublicensable and transferable rights to reproduce the
            uploaded content and make the content available on the site, including the right to use (part of) the
            content, the Tour Operators name and/or logo for promotional purposes and other services in connection with
            the site
            The Tour Operator shall refrain from any act that infringes on the rights of Out2safari, including but not
            limited to the registration of domain names, trademarks or Google Adwards that are identical or similar to
            any object to which Out2safari holds IP rights, as well as the reproduction, modification, reverse
            engineering or publishing of the site, for other purposes than those listed in the Agreement or those
            permitted by mandatory law.
            The Tour Operator is not permitted to remove, make illegible, hide or modify notifications or statements
            with regard to IP Rights.
          </p>
          <h3>Limitations of Liabilty</h3>
          <p>
            To the fullest extent permitted by applicable law, in no event shall Out2safari be liable to you for any
            damages resulting from any ; (i) Errors, mistakes, or inaccuracies of content, (ii) Personal injury or
            property damage, of any nature whatsoever,resulting from your access to and use of the site including mobile
            apps, (iii) Any unauthorized and access to or use of our servers and/or any and all personal information
            stored therein, (iv) Any interruption or cessation of transmition to or from our servers, (v) Any bugs,
            viruses, Trojan horses, or the like which may be transmitted to or through the site by any third party, (vi)
            Any loss of your data or content from the site, (vi) Any errors or ommisions in any content or for any loss
            or damage of any kind incurred as a result of your use of any content posted, transmitted, or otherwise made
            available via the site, whether based on warranty, contract, tort, or any other legal theory , and whether
            or not Out2safari is adviced of the possibility of such damages, and/or (vii)The disclosure of information
            parsuant to these terms or our privacy policy, (ix) Your failure to keep your password or account details
            secure and confidential, and (x) Loss or damage which may be incurred by you, including but not limited to
            loss or damage as a result of reliance placed by you on the completeness, accuracy, or existence of any
            advertising, or as aresult of any relationship or transaction between you and any advertiser or sponsor
            whose advertising appears on the site.
            In no event shall Out2safari be liable to you for any indirect, incidental, special, punitive, exemplary or
            consequential, damages whatsoever, however caused and under any theory of liability, including but not
            limited to, any loss of profit (whether incurred directly or indirectly), any loss of goodwill or business
            reputation, any loss of data suffered, cost of procurement or substitute goods or services, or other
            intangible loss.
            Out2safari liability, whether based upon (attributable) default, unlawful act or any other ground, is
            limited, (i) to direct damage only, and (ii) per calendar year to the total amounts paid to Us for the use
            of the site in the twelve (12) preceding months of that particular calendar year. However, in no event shall
            Out2safari total, aggregate liability exced Kshs (United States Dollars 500)
            Direct damage shall solely mean, (a) Property damages, (b) Reasonable expenses that the Tour Operator would
            have to incur to make Out2safari performance conform to the Terms and Conditions, (c) Reasonable expenses
            incurred by you to determine the cause and scope of the damage, in so far as the determination relates to
            direct damage within the meaning of these Terms and Conditions, and (d) Reasonable expenses incurred to
            prevent or mitigate damage, in so far as they relate to direct damage within the meaning of these Terms and
            Conditions.
            The restrictions mentioned in the preceeding paragraphs of this article will lapse if and in in so far as
            the damage is the result of intentional or willfull recklessness on the part of Out2safari or its managers
            (‘’own actions’’).
          </p>
          <h3>Warranties and Indemnifications</h3>
          <p>
            Except as expressly provided in these Terms and Conditions, Out2safari makes no warranties of any kind,
            whether express, implied, statutory or otherwise, including but not limited to any warranties of
            merchantability or fitness for a particular purpose, quality, safety, integrity or accuracy of the site, nor
            the continued and correct availability of the site or content, or the constitution of any agreements.
            Furthermore, Out2safari does not guarantee that the site shall lead to successful travel experiences or any
            good and/or unlawful behaviour by Users or any behaviour according to the terms that apply between the Tour
            Operator and the Users
            The Tour Operator is fully responsible and liable for the conclusion and performance of agreements between
            the Tour Operator and the User, including any payment obligation of a User related to any Reservation. The
            Tour Operator indemnifies Out2safari from all claims by Users that relate to any agreement.
            The Tour Operator is liable for and indemnifies Out2safari from any damages and costs which Out2safari
            suffers or makes as a result of, (i) an attributable breach by the Tour Operator of the agreement or any
            other agreement between the Tour Operator infringement of IP Rights or any other rights by the Tour
            Operator, including the rights of Users with respect to privacy, (ii) any use the Tour Operator makes of the
            Site or, (iii) an unlawful act. All costs and damages that in any way relate to such a claim will be
            re-imbursed by the Tour Operator.
            The Tour Operator Warrants that, (a) It has the full legal power and authority to enter into the agreement
            and shall use the Site under the conditions as set out in these Terms and Condition, (b) It has the full
            legal power and authority to make the content available through the Site and provide the license, (c) The
            content is correct, complete, unencumbered and not limited or restricted by any third parties’ rights
            including IP Rights, (d) The content is not infringing upon any third parties’ rights, (e) The safari
            packages complies with all laws and regulations and gives a correct representation of the actual trip
            offered by the Tour Operator, (f) It shall at all times comply with these Terms and Conditions.
          </p>
          <h3>Unlawful Content</h3>
          <p>
            Out2safari is not responsible for any content made available on the Site. Out2safari will only, under the
            conditions as set out in this article, be obliged to remove or block access to content that is manifestly
            unlawful or to stop manifestly unlawful behaviour. Any unlawful content on the site should immediately be
            reported to Out2safari for neccesary action.
            Out2safari reserves the right to not grant a request to remove or block access to reported content incase it
            has reasonable grounds to doubt the accuracy of the notification or after a balancing of interests.
            Out2safari will not be a party to a dispute between the person making the report and any third party arising
            out of or in connection with a notification of unlawful content.
            The person that has reported unlawful content indemnifies Out2safari from all claims of third parties in
            relation to the blocking or removal of content. The indemnification includes all damages and costs
            Out2safari suffers, could suffer or which Out2safari incur in relation to such a claim, including but not
            limited to the compensation of legal assistance.
            Out2safari respects and protects the privacy of those who report (alleged unlawful content). All personal
            data Out2safari receives as part of a notification will always be processed in accordance with applicable
            privacy legislation and will only be used to process the notification.
          </p>
          <h3>Duration and Termination</h3>
          <p>
            The Agreeement between the Tour Operator and Out2safari shall commence when the Tour Operator creates its
            account. The Tour Operator may, at any time terminate the agreement, by requesting Out2safari to remove its
            account. In addition, the Tour Operator can at all times unpublish its Account in which case its account and
            Safari packagess shall no longer be available to Users.
            The Tour Operator acknowledges and accepts that the termination of the agreement has no effect on any
            Reservation made by Users and the Tour Operator shall remain responsible for fully implementing such
            Reservation(s). In the event of termination of the agreement there will be no reversal of that which
            Out2safari has already delivered and/or carried out, unless the Tour Operator proves that Out2safari is in
            default in respect of the material part of such performance.
            Out2safari is at all times entitled to restrict the use of or terminate the Tour Operator’s account if there
            are grounds to do so according to Out2safari. Out2safari shall not become liable to pay any compensation to
            the Tour Operator in such cases. Out2safari shall, in particular, invoke this right if Out2safari is of the
            opinion that ; (i) the quality of the Tour Operator’s services towards Users is sub-standard, and (ii) If
            Out2safari receives notice or has knowledge that content infringes upon or violates any (other) provision of
            these Terms and Conditions.
            In the event the agreement is terminated, for whatever reason, Out2safari remains entitled to use the
            content submitted by the Tour Operator. Out2safari will however, upon the first request of the Tour
            Operator, remove or (where applicable) anonymize the content.
            All clauses of these Terms and Conditions that are to their nature intended to survive termination in
            particular Articles ; 8 (Privacy), 11 (payment), 13 (IP Rights), 14 (Limitations of liability), and
            15(Warranties and Indemnification) shall survive such termination.
          </p>
          <h3>Severability</h3>
          <p>
            If any provision of these Terms is found to be unenforceable or invalid under any applicable law, such
            unenforceability or invalidity shall not render these Terms unenforceable or invalid as a whole, and such
            provisions shall be deleted without affecting the remaining provisions herein.
          </p>
          <h3>Assignment</h3>
          <p>
            Out2safari shall be permitted to assign, transfer, and subcontract its rights and/or obligations under these
            Terms without any notification or consent required. However, the Tour Operator shall not be permitted to
            assign, transfer, or subcontract any of your rights and/or obligations under these Terms.
          </p>
          <h3>Entire Agreement</h3>
          <p>
            These Terms, including any legal notices and disclaimers contained on this Site, constitute the entire
            agreement between Out2safari and you in relation to your use of this Site, and supersede all prior
            agreements and understandings with respect to the same.
          </p>
          <h3>Governing Law and Jurisdiction</h3>
          <p>
            These Terms will be governed by and construed in accordance with the laws of Kenya, and you submit to the
            non-exclusive jurisdiction of the state located in Kenya for the resolution of any dispute.
          </p>
          <h3>Miscellaneous</h3>
          <p>
            If at any time any provision of these Terms and Condtions is or becomes illegal, void or invalid for any
            reason whatsoever, such invalidity shall not affect the validity of the remainder of these Terms and
            Conditions and such invalid provision shall be replaced by another provision which, being valid in all
            respects, shall have an effect as close as possible to that of the replaced provision.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock home_content %}