{% extends 'layouts/base.html' %}
{% block content %}
       <!-- START CONTENT -->
        <section id="content">
          <!--breadcrumbs start-->
          <div id="breadcrumbs-wrapper">
            <div class="container">
              <div class="row">
                <div class="col s10 m6 l6">
                  <h5 class="breadcrumbs-title">{{'Add Pricing' if not listing.price else 'Edit Pricing' }}</h5>
                  <ol class="breadcrumbs">
                    <li><a href="{{url_for('publisher.dashboard')}}">Dashboard</a></li>
                    <li><a href="{{url_for('publisher.destination')}}">Destinations</a></li>
                    <li class="active">{{'New' if not listing else 'Edit' }}</li>
                  </ol>
                </div>
              </div>
            </div>
          </div>
          <!--breadcrumbs end-->
          <!--start container-->
          <div class="container">
            <div class="section">
              <div class="divider"></div>
                <div class="row">
                <div class="col s12 m12 l12">
                  <div class="card-panel">
                    <h4 class="header2">Pricing</h4>
                    <div class="center-align">
                      <span class="btn green">Trip Info</span>
                      <span class="btn disabled">Package</span>
                      <span class="btn disabled">Activities and Places</span>
                      <span class="btn disabled">Policy</span>
                      <span class="btn disabled">Images</span>
                    </div>
                    <div class="row">
                      <form class="col s12" method="post">
                          {{ form.hidden_tag() }}
                        <div class="row">
                          <div class="input-field col s6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.price_per_day_adults(id="day-adult") }}
                            <label for="email">Price Per Day Adult</label>
                              {%for error in form.price_per_day_adults.errors%}
                                <div class="error">{{ error }}</div>
                              {%endfor%}
                          </div>
                          <div class="input-field col s6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.price_per_day_children(id="day-child") }}
                            <label for="email">Price Per Day Child</label>
                              {%for error in form.price_per_day_children.errors%}
                                <div class="error">{{ error }}</div>
                              {%endfor%}
                          </div>
                        </div>
                        <div class="row">
                          <div class="input-field col s6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.total_price_adults(readonly=true,id="total-adult") }}
                            <label for="email" class="active">Total Price Adult</label>
                              {%for error in form.total_price_adults.errors%}
                                <div class="error">{{ error }}</div>
                              {%endfor%}
                          </div>
                          <div class="input-field col s6">
                            <i class="material-icons prefix">attach_money</i>
                            {{ form.total_price_children(readonly=true,id="total-child") }}
                            <label for="email" class="active">Total Price Child</label>
                              {%for error in form.total_price_children.errors%}
                                <div class="error">{{ error }}</div>
                              {%endfor%}
                          </div>
                        </div>
                        <div class="row" data-toggle="fieldset" id="include-fieldset">
                          {%  for include in form.includes %}
                          <div class="row" data-toggle="fieldset-entry">
                          <div class="input-field col s10">
                            <i class="material-icons prefix">done</i>
                            {{ include.include }}
                            <label for="email">Prices inclusive of</label>
                            {%for error in include.include.errors%}
                                <div class="error">{{ error }}</div>
                              {%endfor%}
                          </div>
                          <div class="input-field col s2">
                            <button type="button" class="btn-floating waves-effect waves-light red accent-2" data-toggle="fieldset-remove-row" id="include-{{loop.index0}}-remove">
                              <i class="material-icons">remove</i>
                              </button>
                          </div>
                        </div>
                          {% endfor %}
                          <div class="row">
                            <div class="center-align">
                              <button style="margin-left:3%" type="button" data-toggle="fieldset-add-row" class="btn-floating waves-effect waves-light green accent-2 left" data-target="#include-fieldset">
                                <i class="material-icons">add</i>
                              </button>
                            </div>
                          </div>
                        </div>
                          <div class="row" style="margin-top:10px;">
                            <a href="{{ url_for('publisher.editListing',id=listing.id) }}" class="btn cyan waves-effect waves-light left">back
                              <i class="material-icons left">arrow_back</i>
                            </a>
                            <div class="center-align">
                              <button class="btn cyan waves-effect waves-light right" type="submit">next
                                <i class="material-icons right">send</i>
                              </button>
                            </div>
                          </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--end container-->
        </section>
        <!-- END CONTENT -->
{% endblock%}
{% block scripts %}
   <script src="{{ url_for("static", filename="js/page.js") }}"></script>
   <script>
   $(document).ready(function() {
       var total={
         day_adult:$('#day-adult'),
         day_child:$('#day-child'),
         total_adult:$('#total-adult'),
         total_child:$('#total-child'),
         duration:{{ listing.duration }},
       }


       function isInt(value) {
           if (isNaN(value)) {
             return false;
           }
           var x = parseFloat(value);
           return (x | 0) === x;
         }

       function sumAdult(){
         var val = {
           adult:total.day_adult.val(),
         }

         if(isInt(val.adult) == true){
           var adult_tot = (val.adult * total.duration);

           total.total_adult.val(adult_tot);
           Materialize.updateTextFields();
       }
     }

     function sumChild(){
       var val = {
         child:total.day_child.val(),
       }

       if(isInt(val.child) == true){
         var child_tot = (val.child * total.duration);

         total.total_child.val(child_tot);
         Materialize.updateTextFields();
     }
   }

     total.day_adult.keyup(function(){
       sumAdult();
     });

     total.day_child.keyup(function(){
       sumChild();
     });

   });
   </script>
{% endblock %}
