{% extends 'layouts/base.html' %}
{% block custom_head_tags %}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/materialize.css' )}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/collapsible-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}
<!-- START CONTENT -->
<section id="content">
    <!--start container-->
    <div class="container">
        <!--card stats start-->
        <div id="card-stats">
            <div class="row">
                <div class="col s12 m6 l4">
                    <div class="card gradient-45deg-light-blue-cyan gradient-shadow min-height-100 white-text">
                        <div class="padding-4">
                            <div class="col s7 m7">
                                <i class="material-icons background-round mt-5">dvr</i>
                                <p>Listings</p>
                            </div>
                            <div class="col s5 m5 right-align">
                                <h5 class="mb-0">{{ listing_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card gradient-45deg-red-pink gradient-shadow min-height-100 white-text">
                        <div class="padding-4">
                            <div class="col s7 m7">
                                <i class="material-icons background-round mt-5">location_on</i>
                                <p>Destinations</p>
                            </div>
                            <div class="col s5 m5 right-align">
                                <h5 class="mb-0">{{ destination_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col s12 m6 l4">
                    <div class="card gradient-45deg-amber-amber gradient-shadow min-height-100 white-text">
                        <div class="padding-4">
                            <div class="col s7 m7">
                                <i class="material-icons background-round mt-5">people</i>
                                <p>Bookings</p>
                            </div>
                            <div class="col s5 m5 right-align">
                                <h5 class="mb-0">{{ booking_count }}</h5>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- END CONTENT -->

{% endblock%}
