{% extends 'layouts/base.html' %}
{% block content %}
<!-- START CONTENT -->
<section id="content">
  <!--breadcrumbs start-->
  <div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="header-search-wrapper grey lighten-2 hide-on-large-only">
      <input type="text" name="Search" class="header-search-input z-depth-2" placeholder="Explore Materialize">
    </div>
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title">Messages</h5>
          <ol class="breadcrumbs">
            <li><a href="{{url_for('publisher.dashboard')}}">Dashboard</a></li>
            <li class="active">Messages</li>
          </ol>
        </div>

      </div>
    </div>
  </div>
  <!--breadcrumbs end-->
  <!--start container-->
  <div class="container">
    <div id="mail-app" class="section">
      <div class="row">
        <div class="col s12">
          <nav class="red">
            <div class="nav-wrapper">
              <div class="left col s12 m5 l5">
                <ul>
                  <li>
                    <a href="#!" class="email-menu">
                      <i class="material-icons">menu</i>
                    </a>
                  </li>
                  <li><a href="#!" class="email-type">Primary</a>
                  </li>

                </ul>
              </div>
              <div class="col s12 m7 l7 hide-on-med-and-down">
                <ul class="right">
                  <li>
                    <a href="#!">
                      <i class="material-icons">email</i>
                    </a>
                  </li>
                </ul>
              </div>
            </div>
          </nav>
        </div>
        <div class="col s12">
          <div id="email-list" class="col s10 m4 l12 card-panel z-depth-1">
            <ul class="collection">
              {% for message in messages %}
              <li class="collection-item avatar email-unread">
                <a href="{{url_for('publisher.send_message',id=message.author.id)}}">
                <span class="circle red lighten-1">{{ message.author.first_name.capitalize().split()[0][0] }}</span>
                <span class="email-title">{{ message.author.full_name() }}</span>
                <span class="blue-text ultra-small right">{{ moment(message.timestamp ).calendar() }}</span>
                <p class="truncate grey-text ultra-small">{{ message.body }}</p>
              </a>
              </li>
              {% else %}
              <li class="collection-item avatar email-unread">
                <p class="truncate grey-text ultra-small">No messages Found!!</p>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
<!-- END CONTENT -->
{% endblock%}
