{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}


<!-- START CONTENT -->
<section id="content">
  <!--breadcrumbs start-->
  <div id="breadcrumbs-wrapper">
    <!-- Search for small screen -->
    <div class="container">
      <div class="row">
        <div class="col s10 m6 l6">
          <h5 class="breadcrumbs-title">Add Category</h5>
        </div>
      </div>
    </div>
  </div>
  <!--breadcrumbs end-->
  <!--start container-->
  <div class="container">
    <div class="section">
      <div class="divider"></div>
        <div class="row">
        <div class="col s12 m12 l12">
          <div class="card-panel">
            <h4 class="header2">New Category</h4>
            <div class="row">
              <form class="col s12" method="post" action="" enctype="multipart/form-data">
                  {{ form.hidden_tag() }}
                <div class="row">
                  <div class="input-field col s12">
                    <i class="material-icons prefix">format_list_bulleted</i>
                    {{ form.name() }}
                    <label for="email">Name</label>
                      {%for error in form.name.errors%}
                        <div class="error">{{ error }}</div>
                      {%endfor%}
                  </div>
                  <div class="file-field input-field col s12">
                  <i class="material-icons prefix">attach_file</i>
                  <input class="file-path validate" placeholder="Upload one or more files" type="text" />
                  <div class="btn">
                    <span>Choose files</span>
                    {{ form.image() }}
                      {%for error in form.image.errors%}
                        <span class="helper-text" data-error="wrong">{{ error }}</span>
                      {%endfor%}
                  </div>
                </div>
                </div>
                  <div class="row">
                    <div class="center-align">
                      <button class="btn cyan waves-effect waves-light" type="submit">Submit
                        <i class="material-icons right">send</i>
                      </button>
                    </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--end container-->
</section>
</section>
<!-- END CONTENT -->

{% endblock %}
