{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/prism/prism.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/data-tables/css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/flag-icon/css/flag-icon.min.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

        <section id="content">
          <!--start container-->
          <!--start container-->
          <div class="container">
            <div class="section">
              <!--DataTables example-->
              <div id="table-datatables">
                <h4 class="header">All Bookings</h4>
                <div class="row">

                  <div class="col s12">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                       <thead>
                        <tr>
                          <th>#</th>
                          <th>Customer Name</th>
                          <th>Package Title</th>
                          <th>Package Publisher</th>
                          <th>Departure Date</th>
                          <th>Adults</th>
                          <th>Children</th>
                          <th>Price Due</th>
                          <th>status</th>
                        </tr>
                      </thead>
                      <tfoot>
                        <tr>
                          <th>#</th>
                          <th>Customer Name</th>
                          <th>Package Title</th>
                          <th>Package Publisher</th>
                          <th>Departure Date</th>
                          <th>Adults</th>
                          <th>Children</th>
                          <th>Price Due</th>
                          <th>status</th>
                        </tr>
                      </tfoot>
                      <tbody>
                      {% for booking in bookings %}
                        <tr>
                            <td>{{loop.index}}</td>
                          <td>{{booking.user.full_name()}}</td>
                          <td><a href="{{url_for('home.listings_by_details',id=booking.listing.id)}}">{{booking.listing.title}}</a></td>
                          <td><a href="{{url_for('home.tour_operator_details',publisher_id=booking.listing.publisher.id)}}">{{booking.listing.publisher.publisher.company_name}}</a></td>
                          <td>{{moment(booking.orders.departure_date).format("MMM Do YYYY")}}</td>
                          <td>{{booking.orders.adults}}</td>
                          <td>{{booking.orders.children}}</td>
                          <td>{{  "$ {:,.0f}".format(booking.orders.grand_total)}}</td>
                          <td>
                            {% if booking.state == 'pending' %}
                            <span class='orange-text'>Pending</a>
                              {% elif booking.state == 'accepted' %}
                              <span class='green-text'>Accepted</a>
                              {% elif booking.state == 'cancelled' %}
                              <span class='red-text'>Cancelled</a>
                              {% endif %}
                          </td><!-- Dropdown Trigger -->
                        </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!-- Floating Action Button -->
          </div>
          </div>
        </section>

 {% endblock %}
