{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/prism/prism.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/data-tables/css/jquery.dataTables.min.css') }}" type="text/css" rel="stylesheet">
<link href="{{ url_for('static', filename='vendors/flag-icon/css/flag-icon.min.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

        <section id="content">
          <!--start container-->
          <!--start container-->
          <div class="container">
            <div class="section">
              <!--DataTables example-->
              <div id="table-datatables">
                <h4 class="header">All Customers</h4>
                <div class="row">

                  <div class="col s12">
                    <table id="data-table-simple" class="responsive-table display" cellspacing="0">
                      <thead>
                        <tr>
                          <th>#</th>
                          <th>Name</th>
                          <th>Email</th>
                          <th>Address</th>
                          <th>Total Bookings</th>
                          <th>Status</th>
                          <th>Action</th>
                        </tr>
                      </thead>
                      <tbody>
                        {%  for customer in customers %}
                        <tr>
                          <td>{{ loop.index }}</td>
                          <td>{{customer.full_name()}}</td>
                          <td>{{customer.email}}</td>
                          <td>{{customer.address}}</td>
                          <td>{{customer.bookings.count()}}</td>
                          <td class="{{ 'green-text' if customer.status else 'red-text' }}">{{ 'Active' if customer.status else 'Deactivated' }}</td>
                          <td>
                          {% if customer.status %}
                            <a href="{{ url_for('admin.suspend', user_id=customer.id,sender='customer') }}"
                             class="waves-effect waves-light  btn gradient-45deg-red-pink box-shadow-none border-round mr-1">Suspend</a>
                          {% else %}

                          <a href="{{ url_for('admin.suspend', user_id=customer.id,sender='customer') }}"
                             class="waves-effect waves-light  btn gradient-45deg-green-teal box-shadow-none border-round mr-1">Activate</a>
                          {%endif%}
                        </td>
                        </tr>
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            <!-- Floating Action Button -->
          </div>
          </div>
        </section>

 {% endblock %}
