{% extends 'layouts/admin_base.html' %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}

    <section id="content">
        <!--start container-->
        <div class="container">
            <!--card stats start-->
            <div id="card-stats">
                <div class="row">
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-content cyan white-text">
                                <a href="{{url_for('admin.publishers')}}">
                                    <p class="card-stats-title">
                                        <i class="material-icons">verified_user</i> Tour Operators</p>
                                    <h4 class="card-stats-number">{{publishersCount}}</h4>
                                </a>
                            </div>
                            <div class="card-action cyan darken-1">
                                <div id="clients-bar" class="center-align"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-content red accent-2 white-text">
                                <a href="{{url_for('admin.listings')}}">
                                    <p class="card-stats-title">
                                        <i class="material-icons">card_giftcard</i>Safari Packages</p>
                                    <h4 class="card-stats-number">{{listingsCount}}</h4>

                                </a>
                            </div>
                            <div class="card-action red darken-1">
                                <div id="sales-compositebar" class="center-align"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-content teal accent-4 white-text">
                                <a href="{{url_for('admin.bookings')}}">
                                    <p class="card-stats-title">
                                        <i class="material-icons">book</i> Bookings</p>
                                    <h4 class="card-stats-number">{{bookingsCount}}</h4>
                                </a>
                            </div>
                            <div class="card-action teal darken-1">
                                <div id="profit-tristate" class="center-align"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col s12 m6 l3">
                        <div class="card">
                            <div class="card-content deep-orange accent-2 white-text">
                                <a href="{{url_for('admin.customers')}}">
                                    <p class="card-stats-title">
                                        <i class="material-icons">person_outline</i> Travellers</p>
                                    <h4 class="card-stats-number">{{customersCount}}</h4>
                                </a>
                            </div>
                            <div class="card-action  deep-orange darken-1">
                                <div id="invoice-line" class="center-align"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--card stats end-->

            <!--work collections start-->
            <div id="work-collections1">
                <div class="row">
                  <div class="col s12 m12">
                      <ul id="projects-collection" class="collection z-depth-1">
                          <li class="collection-item avatar">
                              <i class="material-icons cyan circle">card_giftcard</i>
                              <h6 class="collection-header m-0">Safari Packages</h6>
                              <p>Recent Packages</p>
                          </li>
                              <li class="collection-item">
                                <table class="responsive-table display datatable" cellspacing="0">
                                  <thead>
                                    <tr>
                                      <th>#</th>
                                      <th>Title</th>
                                      <th>Tour operator</th>
                                      <th>Location</th>
                                      <th>Status</th>
                                      <th>Duration</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    {%  for listing in listings %}
                                    <tr>
                                      <td>{{ loop.index }}</td>
                                      <td><a href="{{url_for('home.listings_by_details',id=listing.id)}}">{{listing.title }}</a></td>
                                      <td><a href="{{url_for('home.tour_operator_details',publisher_id=listing.publisher.id)}}"> {{listing.publisher.publisher.company_name}}</a></td>
                                      <td>{{listing.location}}</td>
                                      <td class="{{ 'green-text' if listing.status else 'red-text' }}">{{ 'Approved' if listing.status else 'Not Approved' }}</td>
                                      <td>{{listing.duration}}</td>
                                    </tr>
                                    {% else %}
                                    <tr>No Packages found!!</tr>
                                    {% endfor %}
                                  </tbody>
                                </table>
                          </li>

                      </ul>
                  </div>
                    <div class="col s12 m12">
                        <ul id="projects-collection1" class="collection z-depth-1">
                            <li class="collection-item avatar">
                                <i class="material-icons cyan circle">card_travel</i>
                                <h6 class="collection-header m-0">Tour Operators</h6>
                                <p>Recent Tour Operators</p>
                            </li>
                                <li class="collection-item">
                                  <table class="responsive-table display datatable" cellspacing="0">
                                    <thead>
                                      <tr>
                                        <th>#</th>
                                        <th>Company</th>
                                        <th>Email</th>
                                        <th>Total Listings</th>
                                        <th>Status</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      {%  for publisher in publishers %}
                                      <tr>
                                        <td>{{ loop.index }}</td>
                                        <td>{{publisher.company_name}}</td>
                                        <td>{{publisher.emails[0].email}}</td>
                                        <td>{{publisher.user.listings.count()}}</td>
                                        <td class="{{ 'green-text' if publisher.user.status else 'red-text' }}">{{ 'Active' if publisher.user.status else 'Deactivated' }}</td>
                                      </tr>
                                      {% else %}
                                      <tr>No Publishers found!!</tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </li>

                        </ul>
                    </div>

                </div>
            </div>
            <!--work collections end-->
            <!-- END RIGHT SIDEBAR NAV-->
        </div>
    </section>

{% endblock %}
