{% extends 'layouts/admin_base.html' %}
{% import 'macros/form_macros.html' as f %}
{% import 'macros/check_password.html' as check %}

{% block custom_head_tags %}
{{ super() }}
<!-- CORE CSS-->
<link href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}" type="text/css"
      rel="stylesheet">
<link href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}" type="text/css" rel="stylesheet">
{% endblock %}

{% block content %}


<!-- START CONTENT -->
<section id="content">
    <!--start container-->
    <div class="container">

        <div class="row">
            <div class="col s12 m12 l12">
                <div class="card-panel">
                    <h4 class="header2">Add New Bird</h4>
                    <div class="row">
                        <form class="col s12" method="post" enctype="multipart/form-data">
                            {{ form.hidden_tag() }}
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix"></i>
                                    {{ form.name() }}
                                    <label>Name</label>

                                    {%for error in form.name.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>
                            </div>
                            <div class="row">
                                <div class="input-field col s6">
                                    <i class="material-icons prefix"></i>
                                    {{ form.description(class_="materialize-textarea") }}
                                    <label>Description</label>

                                    {%for error in form.description.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>

                            </div>
                            <div class="row">
                                <div class="input-field col s6">

                                    <i class="material-icons prefix"></i>
                                    {{ form.park() }}
                                    <label>Park</label>

                                    {%for error in form.park.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>

                            </div>

                            <div class="row">
                                <div class="file-field input-field col s6">
                                    <div class="btn">
                                        <span>File</span>
                                        {{ form.image() }}
                                    </div>
                                    <div class="file-path-wrapper">
                                        <div class="file-path-wrapper">
                                            <input class="file-path validate" type="text" disabled value="Upload"
                                                   id="disabled">
                                        </div>
                                    </div>

                                    {%for error in form.image.errors%}
                                    <div class="error">{{ error }}</div>
                                    {%endfor%}
                                </div>
                            </div>

                            <div class="row">
                                <div class="center-align">
                                    <button id="submit" class="btn cyan waves-effect waves-light" type="submit">Submit
                                        <i class="material-icons right">send</i>
                                    </button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

        
    </div>
    <!--end container-->
</section>
<!-- END CONTENT -->
{% endblock %}
