{% extends 'layouts/admin_base.html' %} {% block custom_head_tags %} {{ super()
}}
<!-- CORE CSS -->
<link
  href="{{ url_for('static', filename='css/themes/fixed-menu/materialize.css')}}"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='css/themes/fixed-menu/style.css') }}"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='vendors/prism/prism.css') }}"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='vendors/perfect-scrollbar/perfect-scrollbar.css') }}"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='vendors/data-tables/css/jquery.dataTables.min.css') }}"
  type="text/css"
  rel="stylesheet"
/>
<link
  href="{{ url_for('static', filename='vendors/flag-icon/css/flag-icon.min.css') }}"
  type="text/css"
  rel="stylesheet"
/>
{% endblock %} {% block content %}
<section id="content">
  <!-- start container -->
  <!-- start container -->
  <div class="container">
    <div class="section">
      <!-- DataTables example -->
      <div id="table-datatables">
        <h4 class="header">All Publishers</h4>
        <div class="row">
          <div class="col s12">
            <table
              id="data-table-simple"
              class="responsive-table display"
              cellspacing="0"
            >
              <thead>
                <tr>
                  <th>#</th>
                  <th>Company</th>
                  <th>Physical address</th>
                  <th>Postal address</th>
                  <th>Bank Name</th>
                  <th>Bank Account</th>
                  <th>Swift Code</th>
                  <th>Director Name</th>
                  <th>Director Phone</th>
                  <th>Director Email</th>
                  <th>Association Membership</th>
                  <th>Registration Certidicate</th>
                  <th>Tax Registration</th>
                  <th>Operator Licence</th>
                  <th>Total Listings</th>
                  <th>Status</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                {% for publisher in publishers %}
                <tr>
                  <td>{{ loop.index }}</td>
                  <td>
                    <a
                      href="{{url_for('home.tour_operator_details',publisher_id=publisher.user.id)}}"
                      >{{publisher.company_name}}</a
                    >
                  </td>
                  <td>{{ publisher.physical_address }}</td>
                  <td>{{ publisher.postal_address }}</td>
                  <td>{{ publisher.bank_name }}</td>
                  <td>{{ publisher.bank_account }}</td>
                  <td>{{ publisher.swift_code }}</td>
                  <td>{{ publisher.director }}</td>
                  <td>{{ publisher.director_phone }}</td>
                  <td>{{ publisher.director_email }}</td>
                  <td>{{ publisher.association_membership }}</td>
                  <td>
                    <a
                      href="{{ url_for('static', filename='uploads/{}'.format(publisher.reg_certificate))}}"
                      target="_blank"
                      >View Certificate</a
                    >
                  </td>
                  <td>
                    <a
                      href="{{ url_for('static', filename='uploads/{}'.format(publisher.tax_registration))}}"
                      target="_blank"
                      >View Tax Registration</a
                    >
                  </td>
                  <td>
                    <a
                      href="{{ url_for('static', filename='uploads/{}'.format(publisher.operator_licence))}}"
                      target="_blank"
                      >View Licence</a
                    >
                  </td>
                  <td>{{publisher.user.listings.count()}}</td>
                  <td
                    class="{{ 'green-text' if publisher.user.status else 'red-text' }}"
                  >
                    {{ 'Active' if publisher.user.status else 'Deactivated' }}
                  </td>
                  <td>
                    {% if publisher.user.status %}
                    <a
                      href="{{ url_for('admin.suspend', user_id=publisher.user.id,sender='publisher') }}"
                      class="waves-effect waves-light  btn gradient-45deg-red-pink box-shadow-none border-round mr-1"
                      >Suspend</a
                    >
                    {% else %}

                    <a
                      href="{{ url_for('admin.suspend', user_id=publisher.user.id,sender='publisher') }}"
                      class="waves-effect waves-light  btn gradient-45deg-green-teal box-shadow-none border-round mr-1"
                      >Activate</a
                    >
                    {%endif%}
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
      <!-- Floating Action Button -->
    </div>
    <!-- end container -->
  </div>
</section>

{% endblock %}
