{% macro render_menu_items(endpoints) %}
    {% for endpoint, name, icon in endpoints %}
        <li>
          <a class="{% if request.endpoint == endpoint %}active{% endif %}" href="{{ url_for(endpoint) }}">
            {% if icon %}
            <i class="material-icons">{{ icon }}</i>
            {% endif %}

            <span>{{ name | safe }}</span>
          </a>
        </li>

    {% endfor %}
{% endmacro %}

{% macro header_items(current_user, dropdown) %}
    {% set endpoints = [
      ('admin.publishers', 'Tour Operators', 'verified_user'),
      ('admin.customers', 'Travellers', 'people'),
      ('admin.listings', 'Safari Packages', 'card_giftcard'),
      ('admin.bookings', 'Bookings', 'book'),
      ('admin.category', 'Categories', 'dehaze'),
      ('admin.countries', 'Countries', 'flag')

    ]%}
    {% set user = [] %}
    {% if current_user.is_authenticated %}
      {% set user = ([(current_user.role.index + '.dashboard', current_user.role.name + ' Dashboard', 'dashboard')]) %}
    {% endif %}
    {{ render_menu_items( user + endpoints) }}
{% endmacro %}

{% macro account_items(current_user) %}
    {% if current_user.is_authenticated %}
      {% set endpoints = [
        ('account.manage', 'Your Account', 'settings'),
        ('account.logout', 'Log out', 'sign out')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% else %}
      {% set endpoints = [
        ('account.register', 'Register', 'list layout'),
        ('account.login', 'Log In', 'sign in')
      ] %}
      {{ render_menu_items(endpoints) }}
    {% endif %}
{% endmacro %}

{% macro create_dropdown(dropdown, icon) %}
  {% for item in dropdown %}
    {% if item | length == 3 %}
      {{ render_menu_items([item]) }}
    {% elif item | length == 4 %}
        <li>
          <a class="dropdown-menu" href="#!" data-activates="Dashboarddropdown">
            <i class="material-icons">{{ item[3] }}</i>
            <span>{{ item[0] }}
            </span>
          </a>
        </li>

        <ul id="Dashboarddropdown" class="dropdown-content collapsible-header waves-effect waves-cyan">
          {{ create_dropdown(item[1]) }}
        </ul>

    {% endif %}
  {% endfor %}
{% endmacro %}

{% macro render_nav(current_user, dropdown=[]) %}

        <!-- START LEFT SIDEBAR NAV-->
        <aside id="left-sidebar-nav">
          <ul id="slide-out" class="side-nav fixed leftside-navigation">
              {{ header_items(current_user) }}
              {{ create_dropdown(dropdown) }}
          </ul>
        </aside>

{% endmacro %}
